body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #212121;
}

header {
  display: flex;
  background-color: #0c0c0ce8;
  color: #fff;
  padding: 20px;
  justify-content: end;
}

header h1 {
  margin-right: 10vw;
}

.mobile-menu div {
  width: 32px;
  height: 2px;
  background-color: white;
  margin: 8px;
}

.mobile-menu {
  display: none;
  cursor: pointer;
}

header nav ul {
    display: flex;
    padding: 0;
    justify-content: end;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
}

header nav ul li a button {
  padding: 15px 20px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  z-index: 1;
}

header nav ul li a button:hover {
  cursor: pointer;
}

header nav ul li a button::after,
header nav ul li a button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

header nav ul li a button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

header nav ul li a button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  border-radius: 50px;
}

header nav ul li a button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

header nav ul li a button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

header nav ul li a button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}

.textoH1 {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 5vh;
  color: white;
}

.textoH1 h1 {
  width: 80%;
}

.textoP {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-top: 2vh;
  color: white;
}

.textoP p {
  width: 80%;
}

.login-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 13vh;
    margin-bottom: 14vh;
}

.container-container {
  max-width: 70vw;
  margin: auto; 
}


.container-container * {
  max-width: 100%; 
}


.main {
    width: 35vw;
    height: 62vh;
    position: relative;
    display: flex;
    flex-direction: column;
    background: #3405a3;
    overflow: hidden;
    border-radius: 12px;
    box-shadow: 7px 7px 10px 3px #24004628;
  }
  
  .form-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    margin-left: 6vw;
  }

  .form-register {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 14px;
    padding: 24px;
    margin-left: -2.5vw;
    height: 50vh;
  }

  #chk {
    display: none;
  }
  
  .login {
    position: relative;
    width: 50%;
    height: 50vh;
  }
  
  .login label {
    margin: 25% 0 5%;
  }
  
  label {
    color: #fff;
    font-size: 2rem;
    justify-content: center;
    display: flex;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease-in-out;
  }

  .input-container {
   width: 100%;
  }
  
  .input-login {
    width: 100%;
    height: 5vh;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }

  .toggle-password {
    position: absolute;
    top: 70%;
    left: 150%;
    cursor: pointer;
    color: #333;
    font-size: 18px;
}

  .input-register {
    width: 70%;
    height: 5vh;
    background: #e0dede;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px;
  }
  
  .register {
    background: #eee;
    border-radius: 60% / 10%;
    transform: translateY(5%);
    transition: .8s ease-in-out;
  }
  
  .register label {
    color: #3405a3;
    transform: scale(.6);
  }
  
  #chk:checked ~ .register {
    transform: translateY(-60%);
  }
  
  #chk:checked ~ .register label {
    transform: scale(1);
    margin: 0;
  }
  
  #chk:checked ~ .login label {
    transform: scale(.6);
    margin: 5% 0 5%;
  }   

  .form-login button {
    width: 85%;
    height: 5vh;
    margin: 12px auto 10%;
    color: #fff;
    background: #6b64f3;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }

  .form-register button {
    width: 60%;
    height: 7vh;
    margin: 12px auto 10%;
    color: #fff;
    background: #6b64f3;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: .2s ease-in;
  }

  .form-login button:hover {
    background-color: #6d44b8;
  }

  .form-register button:hover {
    background-color: #6d44b8;
  }

  footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 5vh;
}

.wrapper {
  display: inline-flex;
  list-style: none;
  height: 13vh;
  width: 100%;
  padding-top: 40px;
  font-family: "Poppins", sans-serif;
  justify-content: center;
  padding: 0;
  align-items: center;
}

.wrapper .icon {
  position: relative;
  background: #fff;
  border-radius: 50%;
  margin: 10px;
  width: 4vw;
  height: 4vw;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon svg {
  fill: black; 
  transition: fill 0.3s ease; 
}

.wrapper .icon:hover svg {
  fill: white; 
}


.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background: #fff;
  color: #fff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background: #fff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background: #1877f2;
  color: #fff;
}

.wrapper .twitter:hover,
.wrapper .twitter:hover .tooltip,
.wrapper .twitter:hover .tooltip::before {
  background: #1da1f2;
  color: #fff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background: #e4405f;
  color: #fff;
}

@media (max-width: 768px) {
  header h1 {
    font-size: 24px;
  }
  
  nav ul {
      flex-direction: column;
      align-items: center;
  }

  .nav-list {
    position: absolute;
    top: 8vh;
    right: 0;
    width: 50vw;
    height: 93vh;
    background-color: #0c0c0ce8;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    z-index: 9999;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    gap: 5vh;
  }

  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }

  .mobile-menu {
    display: block;
  }

  .nav-list.active {
    transform: translateX(0);
  }

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  header nav ul li {
    margin-right: 0;
    margin-bottom: 1vh;
  }

  .main{
    width: 80%;
    height: 60vh;
  }

  .login {
    position: relative;
    width: 60vw;
    height: 50vh;
  }

  .form-register {
    margin-left: -4.5vw;
  }

  .wrapper .icon {
    width: 12vw;
    height: 12vw;
  }
}